<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="triangle" class="org.ankit.java.Triangle">
		<property name="pointA" ref="point1" > </property>
		<property name="pointB" ref="point2" > </property>
		<property name="pointC" ref="point3" > </property>
	</bean> 


	<bean id="point1" class="org.ankit.java.Point">
		<property name="x" value="${pointA.pointX}" > </property>
		<property name="y" value="${pointA.pointY}" > </property>
	</bean> 
	
	
	<bean id="point2" class="org.ankit.java.Point">
		<property name="x" value="-20" > </property>
		<property name="y" value="0" > </property>
	</bean> 
	
	
	<bean id="point3" class="org.ankit.java.Point">
		<property name="x" value="20" > </property>
		<property name="y" value="0" > </property>
	</bean> 
	
	
	
	<!--  <bean class="org.ankit.java.DisplayNameBeanPostProcessor" />  -->
	
	
	<bean class="org.ankit.java.MyBeanFactoryPP"></bean>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfir.properties"></property>
	</bean>
	

	
</beans> 